.container {
  margin: 2rem;
  padding: 5rem;
  width: 50rem;
  text-align: center;
  background: #42A5F5;
  border-radius: 1rem;
  transition: ease all 0.5s;
}

@media (max-width: 1100px) {
  .container {
    min-width: 10rem;
  }
}

.container:hover {
  transform: scale(1.1);
}